.topbar {
  background-color: #6074F9;
  height: 60px;
  position: sticky;
  top: 0;

  .topbar-header {
    color: #FFF;
    display: inline-block;
    padding: 20px 30px;
    border-right: 2px solid #FFF;
    font-weight: bold;
    width: 10%;
    min-width: 200px;
  }
}
