.App {

  .content {
    display: flex;
    width: 100%;
    height: calc(100vh - 60px);
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .tasks-view-section {
    background-color: #EAEAEA;
    padding: 40px;
    min-width: 300px;
    flex: 1;
    overflow-y: scroll;
  }
}

/*
  array = [ {id: 0, name: 'dhehd' ...}, {id: 1, name: 'gchjf'....} ]
  object = {
  0: { id: 0, name: 'bdhjbe'....},
  1: { id: 1, name: 'jkhj'...},
  }
*/